@use "../../base/variables" as v;
@use "../../base/mixins" as m;

.testimonials {
  text-align: center;
  &__image {
    width: 20rem;
    margin: 0 auto;
  }

  &__content {
    background-color: v.$white;
    margin-top: -10rem;
    padding: 10rem 2rem 2rem 2rem;
  }

  &__name {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 0;
  }

  &__text {
    &::before {
      content: "";
      background-image: url(../img/quote.svg);
      display: inline-block;
      width: 4rem;
      height: 4rem;
      background-repeat: no-repeat;
      background-position: center;
      margin-right: 1rem;
    }
  }
}
