@use "variables" as v;

@mixin tablet {
  @media (min-width: v.$tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: v.$desktop) {
    @content;
  }
}

@mixin desktopXL {
  @media (min-width: v.$desktopxl) {
    @content;
  }
}

@mixin button($bgColor, $textColor) {
  background-color: $bgColor;
  padding: 1.5rem 4rem;
  color: $textColor;
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 400;
  display: inline-block;
  font-weight: 700;
  border: none;
  transition-property: background-color;
  transition-duration: 0.3s;
  text-align: center;

  @include tablet {
    width: auto;
  }
  &:hover {
    background-color: darken($bgColor, 10%);
  }
}

@mixin grid($columns, $gap) {
  display: grid;
  gap: $gap;
  grid-template-columns: repeat($columns, 1fr);
}

@mixin heading {
  font-weight: 400;
  font-size: 3.2rem;

  span {
    font-weight: 700;
  }

  &::after {
    content: "";
    display: block;
    height: 1rem;
    width: 13rem;
    margin-top: 1rem;
    background-image: linear-gradient(
      to right,
      v.$primary-color 0%,
      v.$primary-color 50%,
      lighten(v.$primary-color, 20%) 50%,
      lighten(v.$primary-color, 20%) 100%
    );

    @include tablet {
      width: 16rem;
    }
  }

  @include tablet {
    font-size: 4rem;
  }
}
